@using PVI_6.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Contact[] contacts = ViewBag.allContacts;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <a href="/Dict/Index">Back home</a>
    <div>
        @foreach (Contact contact in contacts)
        {
            <p>
                [@contact.Id] @contact.Lastname @contact.PhoneNumber
                <a href="/Dict/DeleteSave?id=@contact.Id">Delete</a>
            </p>
        }
    </div>
</body>
</html>


@section Footer {
    Все права защищены. 2021.
}

@section Header {
    <h3>
        <a href="/Dict/Index">Home</a>
    </h3>
}