
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>M01B</title>
</head>
<body>
    <div>
       <p>
            GET:M01B: /n @ViewBag.n /string = @ViewBag.str 
        </p>
    </div>
</body>
</html>
