
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>M03</title>
</head>
<body>
    <div>
        @ViewBag.method:M03: /f @ViewBag.f /str = @ViewBag.letters
    </div>
</body>
</html>
