
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>M04post</title>
</head>
<body>
    <div>
        POST: mail = @ViewBag.mail
    </div>
</body>
</html>
