
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>M04</title>
</head>
<body>
    <div>
        PUT:M04: /letters @ViewBag.letters /n = @ViewBag.n
    </div>
</body>
</html>
