
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>M02</title>
</head>
<body>
    <div>
        GET:M02
    </div>
</body>
</html>
