@using WebApplication3.Models
@{
    Layout = null;
    Contact[] contacts = ViewBag.allContacts;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <a href="/Dict/Index">Back home</a>
    <div>
        @foreach (Contact contact in contacts)
        {
            <p>
                [@contact.Id] @contact.Lastname @contact.PhoneNumber
                <a href="/Dict/DeleteSave?id=@contact.Id">Delete</a>
            </p>
        }
    </div>
</body>
</html>
