<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sva.fit.bstu.pms_3" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PMS_3"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="sva.fit.bstu.pms_3.AllTaskActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sva.fit.bstu.pms_3.TaskSummaryActivity"
            android:exported="true" />
        <activity
            android:name="sva.fit.bstu.pms_3.TaskInfoActivity"
            android:exported="true" />
        <activity
            android:name="sva.fit.bstu.pms_3.MainActivity"
            android:exported="true" >
        </activity>
    </application>

</manifest>