
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AP</title>
</head>
<body>
    <div>
        @ViewBag.time
        @ViewBag.x
        @ViewBag.y
    </div>
</body>
</html>
